<%= render "dashboard/articles/index/action" %>

<%= render "dashboard/articles/index/search" %>

<table class="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th></th>
    </tr>
  </thead>

  <% @articles.each do |article| %>
    <tr id="<%= dom_id(article) %>">
      <%= render "dashboard/articles/article", article: article %>
    </tr>
  <% end %>
  <%= paginate @articles %>
</table>