<h1>Liste des articles</h1>
<%= link_to 'New article', new_article_path %>

<h3>Recherchez un article :</h3>
<%= form_with model: @article, local: true,method: :get do |form| %>
  <p>

    <%= form.text_field :titleSearch %>
  </p>
 
  <p>
    <%= form.submit :Recherchez %>
  </p>
 
<% end %>
<table>
  <tr>
    <th>Titre</th>
    <th>Contenu</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Afficher', article_path(article) %></td>
      <td><%= link_to 'Modifier', edit_article_path(article) %></td>
      <td><%= button_to 'Supprimer', article_path(article),
              method: :delete,
              data: { turbo_confirm: 'Etes vous sur ?' } %></td>
    <%# <td><%= link_to 'Destroy', article_path(article),
    <%# data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>