<div class="between">
  <div>
    <h1><%= @article.title %></h1>
    <%= @article.updated_at.strftime("%d-%m%-%Y") %>
  </div>
</div>
<%= @article.text %>
<h2>Commentaires</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Modifier', edit_article_path(@article) %> |
<%= link_to 'Retour', articles_path %>