<div class="between my-4">
  <%= link_to '< Retour', articles_path, class: "link" %>
  <%= 
  unless @article.users_id.nil?
    if(@current_user)
      if(@article.users_id == @current_user.id || @current_user.admin == true)
        link_to 'Modifier', edit_article_path(@article), class: "btn btn-primary" 
      end
    end
  end
  %> 
</div>
<div class="between mb-4">
  <div>
    <h1><%= @article.title %></h1>
    <%= @article.updated_at.strftime("%d-%m-%Y") %>
  </div>
  <div>
  <%= 
  unless @article.users_id.nil?
    @user = User.find_by_id(@article.users_id)
    if @user.avatar.attached?
      image_tag @user.avatar, style: 'height:50px;vertical-align:middle;display:inline'
    end
  end
  %>
  <%= 
  
  unless @article.users_id.nil?
    @user = User.find_by_id(@article.users_id)
    @user.nom.to_s + " " + @user.prenom.to_s
  else
    
  end
  %></div>
</div>

<div class="mb-4">
  <%= @article.text %>
</div>
<h2><%= @article.comments.count %> Commentaire(s)</h2>
<%= render @article.comments %>

<hr class="my-2">
<%= render 'comments/form' %>
