<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">
    <div class="appinput">
      <%= form.label :nom %><br>
      <%= form.text_field :nom %>
    </div>
  
    <div class="appinput">
      <%= form.label :prenom %><br>
      <%= form.text_field :prenom %>
    </div>

    <div class="appinput">
      <%= form.label :mail %><br>
      <%= form.text_field :mail %>
    </div>

    <div class="appinput mb-4">
      <%= form.label :avatar  %><br>
      <%= form.file_field :avatar %>
    </div>

    <div class="between">
      <%= form.submit :envoyer, class: "btn btn-primary mt-4" %>
      <%= link_to 'Annuler', articles_path, class:"link" %>
    </div>
  </div>
<% end %>
