<div id="<%= dom_id user %>">
<tr>
  <% if action_name != "show" %>
  <td>
    <%= 
    if user.avatar.attached?
      image_tag user.avatar, style: 'height:50px;vertical-align:middle;display:inline'
    end
    %>
  </td>
    <td><%= user.nom %></td>
    <td><%= user.prenom %></td>
    <td><%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
    <td><%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
  <% end %>
</tr>
