<%= form_with model: @user,url: login_path, local: true do |form| %>
  <div class="appinput">
    <%= form.label :mail %><br>
    <%= form.text_field :mail %>
  </div>
 
  <div class="appinput mt-4">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
 
  <div class="between">
    <%= form.submit :envoyer, class: "btn btn-primary mt-4" %>
    <%= link_to 'Back', articles_path, class:"link" %>
  </div>
<% end %>