<h3>Recherchez un article :</h3>
<%= form_with local: true,method: :get, class: "mb-4" do |form| %>
  <div class="flex gap-4">
    <div class="appinput">
      <%= form.label :title, "Titre :"  %><br>
      <%= form.text_field :title, placeholder: "Titre...", value: params[:title] %>

      <%= form.label :categorie, "Catégorie :"  %><br>
      <%= form.select :categorie, options_for_select(Article.categories.map {|key, value| [key.titleize, Article.categories.key(value)]}, params[:categorie]), include_blank: true %>

      <br>
      <%= form.label :status, "Statut :"  %><br>
      <%= form.select :status, options_for_select(Status.labels, params[:status]), include_blank: true %>

    </div>
    <%= form.submit :Recherchez, class: "link" %>
  </div>
<% end %>