<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 mt-6">
      <div class="between pb-4 mb-4">
        <div><%= link_to "Acceuil", welcome_index_path, class: "link" %></div>
        <div>
          <%= if @current_user.nil?
              link_to "Connexion", login_path, class: "link" 
            else 
              link_to "Mon Compte ", edit_user_path(@current_user.id), class: "link" 
            end
          %>

          <%= button_to("Déconnexion", logout_path, class: "link-red", method: :delete, data: { turbo_confirm: 'Etes vous sur ?' }) unless @current_user.nil? %>

        </div>
      </div>
      
      <% unless notice.nil? %>
        <div class="flex">
          <div class="flex-1">
            <%= flash_success do %>
              <%= notice %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="flex">
          <div class="flex-1">
            <%= flash_error do %>
              <%= alert %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
