<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 mt-6">
      <div class="flex justify-end mb-6">
        <%= 
        if @current_user.nil?
          link_to "Connexion", login_path, class: "link" 
        else 
          link_to "Deconnexion", logout_path, class: "link" 
        end
        %>
      </div>
      
      <% unless notice.nil? %>
        <div class="flex">
          <div class="flex-1">
            <%= flash_success do %>
              <%= notice %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="flex">
          <div class="flex-1">
            <%= flash_error do %>
              <%= alert %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
